def with(content)

<html>
    
    <head>
        <title> Tienda </title>

        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous">
        <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
        
        
    </head>

    <body>
        <div>
            
    $:content
        
    </body>

    <script src=".."></script>
    <script src="../static/js/bootstrap.js"></script>
</html>


#DISEÑO PARA TODO EL SITIO