$def with(producto)#objeto en el mismo parentesis (,,)


	<form color:green class="form-horizontal" action="" method="POST" >
	  <fieldset>
	    <label>Lista de Producto</label>
	    
	    <div>
	      <label for="producto" class="col-lg-2 control-label">Producto</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="producto" required name="producto" value="$producto.producto"  style="width:70px;height:30px;font-size:12pt;font-family:Helvetica;font-weight:bold; 
             color:green;border-width:thin>
	      </div>
	    </div>

	    <div>
	      <label for="Descripción" class="col-lg-2 control-label">Descripción</label>
	      <div class="col-lg-10">
	        <textarea class="form-control" rows="3" id="Descripción" required name="description" $producto.descriptionstyle="width:70px;height:30px;font-size:12pt;font-family:Helvetica;font-weight:bold; 
              color:green;border-width:thin</textarea>
	      </div>
	    </div>

	    <div>
	      <label for="existencias" class="col-lg-2 control-label">Existencias</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="existencias" required name="stock" value=$producto.existencias style="width:70px;height:30px;font-size:12pt;font-family:Helvetica;font-weight:bold; 
             color:green;border-width::thin>
	      </div>
	    </div>

	    <div >
	      <label for="precio_compra" class="col-lg-2 control-label">Precio compra</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="precio_compra" required name="precio_compra" value=$producto.precio_compra 
            style="width:70px;height:30px;font-size:12pt;font-family:Helvetica;font-weight:bold; 
             color:green;border-width:thin> 
      
	      </div>
	    </div>

	    <div >
	      <label for="precio_venta" class="col-lg-2 control-label">Precio venta</label>
	      <div class="col-lg-10">
	        <input type="text" class="form-control" id="precio_venta" required name="precio_venta" value=$producto.precio_venta style="width:70px;height:30px;font-size:12pt;font-family:Helvetica;font-weight:bold; 
             color:green;border-width:thin>
	      </div>
	    </div>

	    <img src="../static/imagen/$producto.imagen_producto">

	    <div class="form-group">
	      <div class="col-lg-10 col-lg-offset-2">
	        <a href="/index" class="btn btn-link">Ir a Index</a>
	      </div>
	    </div>
	  </fieldset>
	</form>
        